<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="<%- page.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%- page.title %> | <%- config.title %></title>
    <link rel="icon" href="http://ruaalecrim.com.br/assets/img/icons/icon/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="/style/main.css">
  </head>
  <body>
    <%- body %>
    <script src="/script/smooth-scroll.min.js"></script>
    <script src="/script/main.js"></script>
    <script>

      // mobile
      document.querySelector('#mobile-header .menu-button')
        .addEventListener('click', function () {
          document.body.classList.toggle('sidebar-open')
        })
      document.getElementById('mobile-shade').addEventListener('click', function () {
        document.body.classList.remove('sidebar-open')
      })

    </script>
  </body>
</html>
